<%= form_for(@superhero) do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :cape %>
		<%= f.check_box :cape %>
	</div>
	<div>
		<%= f.label :super_power %>
		<%= f.text_field :super_power %>
	</div>
	<div>
		<%= f.label :image %>
		<%= f.text_field :image %>
	</div>
	<div>
		<%= f.submit  %>
	</div>

<% end %>
