
<h1>Here are the Superheros!!!</h1>
<%= link_to "Add a Superhero!!!", new_superhero_path %>
<div></div>
<% @superheros.each do |superhero| %>
	<div>
		<h3><%= superhero.name %></h3>
		<p>Has <%= superhero.super_power %> superpower and
		<% if superhero.cape %>
		has a cape
		<% else %>
		does not have a cape
		<% end %>

		</p>
		<%= image_tag(superhero.image) %>
		<%= link_to 'view', superheros_path %>
		<%= link_to 'edit', edit_superhero_path(superhero) %>
		<%= link_to 'delete', superhero, method: :delete  %>
	

	</div>
<% end %>